.single-product .breadcrumb ul{
    display: flex;
}
.single-product .breadcrumb ul li{
  font-size: 12px;

}
.single-product .breadcrumb ul li:not(:last-child):after{ /*etiketten sonrasın da gelen slash işareti */
content: "/";
color: #dee0ea;
margin: 0 5px;

}
.single-product .breadcrumb ul li a:hover{ /*her tıklandığın da alttan çizgi */
color: black;
text-decoration: underline;

}
